<nav class="navbar navbar_js">
  <ul class="navbar__list">
    <li class="navbar__item">
      <a href="#" class="navbar__link">О нас</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link">Критерии качества</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link">Цены</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link navbar__link_icon navbar__link_test">Тестирование</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link navbar__link_icon navbar__link_blog">Блог</a>
    </li>
  </ul>
</nav>
